<template name= "baseLayout">
	<body>

 		{{> header}}
  		<a href="#" id="toTop"> </a>
  		{{>yield "bodyheader"}}
 		{{>yield}}
    {{>footer}}
    
 	</body>

</template>

<template name="header">
  <div class="header">
     <div class="wrap">
        <div class="header_top">
            
            <div class="col-xs-12 col-md-4">
                <div class="logo">
            	    <a href="{{pathFor 'home'}}"><img src="images/logo9.png" alt="" /></a>
          	    </div>
            </div>
            
            <div class="col-xs-12 col-md-4">
                
                <div class="search_box header_top_content">
                  	<span> Buscar</span>
                  		<form>
                    		<input type="text" value=""><input type="submit" value="">
                  		</form>
                 	 <div class="clear"></div>
                </div>
         	
            </div>
            
            <div class="col-xs-12 col-md-4">
                <div class="pull-right small-button login-button">
                  
                    
                     <a class="primary-button " href="{{pathFor 'login'}}"> <i class="fa fa-user" aria-hidden="true"></i> Iniciar Sesion </a><!--MOVER-->

                </div>
            </div>
          	
          	
          	
          	<div class="clear"></div>
        </div>     
         <div class="navigation">
            	<a class="toggleMenu" href="#">Menu</a>
          		<ul class="nav">
           			 <li>
              			<a href="{{pathFor 'home'}}">Home</a>
            		</li>
            		<li>
              			<a href="{{pathFor 'productos'}}">Últimos productos</a>
            		</li>
            		<li>
              			<a href="/productos/peliculas">Películas</a>
            		</li>
           			 <li>
             			 <a href="{{pathFor 'estrenos'}}">Próximos estrenos</a>
            		</li>
           			 <li>
              			<a href="{{pathFor 'series'}}">Series</a>
            		</li>
            		<li>
              			<a href="{{pathFor 'trailers'}}">Trailers</a>
            		</li>
           			 <li>
             			 <a href="{{pathFor 'contact'}}">Contáctenos</a>
            		</li>
                    	
                    
         		 </ul>
           <span class="left-ribbon"> </span> 
               <span class="right-ribbon"> </span>    
          </div>

     </div>
   </div>

</template>

<template name= "footer">

       <div class="footer">
      <div class="wrap">  
       <div class="copy_right">
        <p>Copy rights (c). Todos los derechos reservados | </p>
       </div> 
       <div class="footer-nav">
        <ul>
          <li><a href="#">Términos de uso </a> | </li>
          <li><a href="#">Política de privacidad </a> | </li>
          <li><a href="/contact">Contacta con nosotros </a>  </li>
        </ul>
       </div> 
        </div>
    </div>
</template>


